<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        MOBILE-ONLY Manifest
        This makes the app ONLY available on phones/tablets (NOT TV)

        Key settings:
        - leanback NOT required (and removed) = phones don't have leanback
        - touchscreen REQUIRED = excludes TVs (they don't have touchscreens)
    -->

    <!-- REMOVE leanback feature entirely - phones don't support it -->
    <uses-feature
        android:name="android.software.leanback"
        tools:node="remove" />

    <!-- Touchscreen REQUIRED - this EXCLUDES all TVs (they don't have touchscreens) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true"
        tools:node="replace" />

</manifest>
